{% extends 'attendancemof/base_templates.html' %}
{% load static %}
{% block content %}


<h1>Stafflist</h1>
<!-- <div align="right">
	<a class="btn btn-sm btn-primary" href="{% url 'createStaff'%}"> New Staff </a> &nbsp; &nbsp; &nbsp; &nbsp;
</div> -->
<div class="card-body">

	<table id="example" class="table table-striped table-bordered" style="width:100%">

		<thead>

			<tr>
				<th>Name</th>
				<th>Division</th>
				<th>Position</th>
				<th>Band</th>
				<th>Update</th>
				<th>Remove</th>

			</tr>
		</thead>
		<tbody>
			{% for employee in stafflist %}
			<tr>
				<td> {{employee.user}}</td>
				<td> {{employee.division}}</td>
				<td> {{employee.position}}</td>
				<td> {{employee.band}}</td>

				<td> <a class="btn btn-sm btn-warning" href="{% url 'updateStaff' employee.Code %}"> Update </a> </td>
				<td> <a class="btn btn-sm btn-danger" href="{% url 'deleteStaff' employee.Code %}"> Remove </a> </td>

				{% endfor %}
		</tbody>

	</table>
</div>

</body>

</html>
<script>
	$(document).ready(function () {
		$('#example').DataTable();
	});
</script>
{% endblock content %}
